.section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  padding: 10px;
}

.article {
  height: 300px;
  background-color: var(--main-element-color);
  border-radius: 10px;
  padding: 5px;
  transition: all ease-in-out 0.3s;
  -webkit-box-shadow: -4px 8px 23px 1px rgba(255, 47, 108, 0.08);
  box-shadow: -4px 8px 23px 1px rgba(255, 47, 108, 0.08);
  transition: all 0.3s ease-in-out;
}

.article:hover {
  transform: scale(1.007);
}

.fieldTitle {
  color: #666666;
}
