body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--main-bg-color);
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 5px;
}

input {
  height: 50px;
  font-size: 24px;
}
