.button {
  display: block;
  height: 50px;
  width: 100%;
  padding: 10px;
  border-style: solid;
  border-width: 0px 0px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  text-align: center;
  text-overflow: ellipsis;
  transition: all 200ms ease-in-out 0s;
  white-space: nowrap;
  font-family: 'Gotham Rounded A', 'Gotham Rounded B', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  border-color: #00329e;
  background-color: #060380;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #111f9c;
  border-color: #4060c9;
}

.form {
  border-radius: 10px;
  padding: 10px;
}

.input {
  display: block;
  width: 100%;
}

.inputContainer {
  margin-bottom: 10px;
}
