.title {
  color: #060380;
  font-size: 30px;
  padding: 10px 0;
}

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #fff;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(166, 164, 166, 1);
  -moz-box-shadow: 1px 1px 2px 1px rgba(166, 164, 166, 1);
  box-shadow: 1px 1px 2px 1px rgba(166, 164, 166, 1);
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.link {
  color: #060380;
  padding: 0 10px;
  font-weight: 700;
  text-decoration: none;
}

.activeLink {
  compose: link;
  color: #c00443;
}

.userBlockContainer {
  padding: 8px;
}
.userEmail {
  font-size: 18px;
  padding: 0 5px;
  margin: 0 0 8px 0;
}
