.label {
  display: block;
}

.input {
  display: block;
  min-width: 500px;
}

.button {
  display: block;
  width: 300px;
  padding: 15px 20px;
  border: none;
  background-color: #060380;
  color: #fff;
}

.button:hover {
  cursor: pointer;
  background-color: #1a188d;
}
