.container {
  padding: 0 0 0 10px;
}
.contactList {
  list-style: none;
  margin: 0;
  padding: 0 0 0 10px;
  border-radius: 10px;
  padding: 10px;
}

.contactItem {
  background-color: var(--main-element-color);
  padding: 0 10px;
  margin: 5px 0;
  border-radius: 5px;
  -webkit-box-shadow: 2px 3px 7px 0px rgba(166, 164, 166, 1);
  -moz-box-shadow: 2px 3px 7px 0px rgba(166, 164, 166, 1);
  box-shadow: 2px 3px 7px 0px rgba(166, 164, 166, 1);
}

.title {
  margin: 10px 0;
  padding: 0 0 0 10px;
  font-size: 18px;
  color: #848888;
}
